.btn {
  border-radius: 0.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: 700
}

/* overide */

.btn-blue {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding: 1rem
}